{block #content}
<section id="about">
    <div class="container">
        <div class="about-text-container">
            <h1>Blog</h1>
        </div>

        <div class="row">
            <div class="col-md-8 bg-primary">
                Gohld
            </div>
            <div class="col-md-4">
                Gohld2
            </div>
        </div>
    </div>
</section>
