body {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.05;
  color: #1c1c1c;
  text-rendering: optimizeLegibility;
  font-family: Roboto, Tahoma, Geneva, sans-serif;
}
section img {
  max-width: 100%;
}
header {
  background: #121d47 url(/assets/front/img/x-header-background.png) repeat-x;
  position: relative;
  z-index: 99;
}
header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 1200px) {
  header .navbar > .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}
header .navbar .navbar-brand-container {
  width: 220px;
  flex-basis: 220px;
}
header .navbar .navbar-brand-container .navbar-brand {
  padding: 0;
}
header .navbar .navbar-brand-container .navbar-brand img {
  height: 120px;
  max-height: 120px;
}
@media (max-width: 991px) {
  header .navbar .navbar-brand-container .navbar-brand img {
    height: auto;
    max-height: 60px;
  }
}
@media (max-width: 991px) {
  header .navbar .navbar-collapse {
    background: #121D47;
    margin: 0 -12px;
    padding: 0 12px 12px;
  }
  header .navbar .navbar-collapse .btn {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  header .navbar .navbar-collapse {
    justify-content: center !important;
  }
}
header .navbar .navbar-right {
  width: 220px;
}
header .navbar .nav-link {
  padding: 9px 20px;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;
  color: #c98bdb;
  text-align: center;
}
header .navbar .nav-link:hover {
  color: #ffffff;
}
header .navbar .nav-link.active,
header .navbar .nav-link:active,
header .navbar .nav-link.active:hover,
header .navbar .nav-link:active:hover {
  color: #ffffff;
}
header .navbar .nav-link.btn {
  color: #ffffff;
}
header .navbar .nav-link.btn.active {
  background: #ffffff;
  border: none;
  color: #202a44;
}
header .navbar .nav-link.btn.active:hover {
  color: #ffffff;
}
header .navbar .navbar-toggler {
  border: none;
  outline: none!important;
  box-shadow: none!important;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 129' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar {
  --bs-navbar-nav-link-padding-x: 20px;
}
h1,
h2,
h3,
h4 {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-transform: none;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto Slab", Georgia, serif;
  transition: font-size 0.3s;
}
h1 {
  color: #c98bdb;
  font-weight: 700;
}
.text-h1,
h1 {
  font-size: 100px;
  line-height: .9em;
  margin-bottom: 37px;
}
.form-group {
  margin-bottom: 0.75rem;
}
.form-group > label {
  display: block;
  max-width: 100%;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}
.form-group p.help-block {
  flex-basis: 100%;
  font-size: 11px;
  color: silver;
  margin-bottom: 0;
}
.form-group > label ~ .form-control {
  margin-top: 6px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 16px;
  line-height: 1.5;
  color: #1c1c1c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease-in-out;
}
.form-control:focus {
  background-color: #ffffff;
  border-color: #c98bdb;
  box-shadow: none;
  outline: unset;
}
.form-control::placeholder {
  color: silver;
}
.form-control[type="file"] {
  padding: 0.375rem 0.75rem;
}
.form-control ~ .btn {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-left: 0;
  border-radius: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #1c1c1c;
  transition: all 0.2s ease-in-out;
}
.form-control:focus ~ .btn {
  border-color: #c98bdb;
}
textarea ~ .input-limit-indicator {
  position: relative;
  z-index: 99;
  float: right;
  margin-top: -29px;
  background: #eeeeee;
  padding: 2px 4px;
  border-radius: 5px 0 0 0;
  font-size: 12px;
}
textarea.input-limit-warning:focus {
  border: 2px solid #ffb14b;
}
textarea.input-limit-warning:focus ~ .input-limit-indicator {
  background: #ffb14b;
}
textarea.input-limit-reached {
  border: 2px solid #ff5c4b;
}
textarea.input-limit-reached ~ .input-limit-indicator {
  background: #ff5c4b;
  color: #ffffff;
}
.radio label {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 400;
}
.radio [class^="iradio_"] {
  margin-top: 5px!important;
  margin-right: 10px!important;
}
.checkbox + p.help-block {
  flex-basis: 100%;
  font-size: 11px;
  color: silver;
  margin-bottom: 0.75rem;
}
ul.help-block {
  background: #ff5c4b;
  list-style: none;
  padding: 8px 12px;
  margin-bottom: 1rem;
  margin-top: 2px;
  line-height: 1.5;
  border-radius: 0;
  font-size: 16px;
  color: #fff;
}
.select2-container .select2-selection {
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 16px;
  line-height: 1.5;
  color: #1c1c1c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e2e2e2!important;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease-in-out;
}
.select2-container.select2-container--focus .select2-selection,
.select2-container.select2-container--open .select2-selection {
  background-color: #f5f5f5;
  border-color: #2b2723!important;
  box-shadow: none;
  box-shadow: unset;
}
.select2-container .select2-dropdown {
  background-color: #fff;
  border: 1px solid #e2e2e2!important;
  border-radius: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  z-index: 6;
  list-style-type: none;
  width: 100%;
  margin: 4px 0 0;
}
.select2-container .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
  background: #ffffff;
  color: #000000;
}
.select2-container .select2-dropdown .select2-search .select2-search__field {
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 16px;
  line-height: 1.5;
  color: #1c1c1c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease-in-out;
}
.select2-container .select2-dropdown .select2-search .select2-search__field:focus {
  background-color: #f5f5f5;
  border-color: #2b2723;
  box-shadow: none;
  outline: unset;
}
.btn {
  border-radius: 17px;
}
.btn-primary {
  background: #c98bdb;
  border-color: #c98bdb;
  padding: 9px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:hover {
  background: #202a44 !important;
  border-color: #202a44 !important;
  outline: none;
}
form [type="submit"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 100%;
  padding: 0.75em 1.6em;
  margin-bottom: 0;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  letter-spacing: .04em;
  text-transform: uppercase;
  outline: 0;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s, transform 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
  border: 0 solid #000;
  background: #202a44;
  color: #fff;
}
form [type="submit"]:hover {
  border-color: #000;
  background: #fdf5ff;
  color: #202a44;
}
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.social-links li {
  display: inline-block;
  margin: 0 5px;
}
.social-links li a.social-link {
  background: #ffffff;
  padding: 7px;
  border-radius: 50%;
  font-size: 20px;
  color: #202a44;
}
.social-links li a.social-link:hover {
  background: #202a44;
  color: #ffffff;
}
.social-links li:first-child {
  margin-left: 0;
}
.social-links li:last-child {
  margin-right: 0;
}
section#map {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: -120px;
  padding-top: 120px;
}
.map-overlay-underconstruction {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.map-overlay-underconstruction h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #fff;
}
#about {
  padding-top: 100px;
}
.about-text-container {
  max-width: 1240px;
  margin: 0 auto;
}
.bg-fcPink {
  background-color: #c98bdb;
}
.bg-fcBlue {
  background-color: #202a44;
}
.text-fcBlue {
  color: #202a44;
}
.rounded-left {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}
.rounded-right {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}
.rounded-bottom-left {
  border-bottom-left-radius: 2em;
}
.rounded-bottom-right {
  border-bottom-right-radius: 2em;
}
.post-header {
  padding: 1em;
}
.post-body {
  padding: 1em;
}
.post-card-row {
  display: flex;
  align-items: stretch;
}
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-overlay {
  position: absolute;
  top: 80px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}
.filter {
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;
  color: #c98bdb;
  text-align: center;
}
#add_organization {
  padding-top: 100px;
}
.notfound-container {
  text-align: center;
  padding: 100px 30px 0;
}
.notfound-container img {
  max-width: 100%;
  margin-bottom: 75px;
}
.notfound-container .btn {
  text-transform: uppercase;
}
