{layout '@layoutSign.latte'}

{block #content}
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Pro vstup do administrace se přihlašte.</p>
			{control signInForm}
		</div>
	</div>
