{block #title}Přidání tagu (blog){/block}

{block #content}
<div class="col-lg-4 col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Přidat tag
            </h3>
        </div>
        <div class="card-body">
            {control blogTagForm}
        </div>
    </div>
</div>
