{block #title}Přidání příspěvku{/block}

{block #content}
<div class="col-lg-4 col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Přidat příspěvek
            </h3>
        </div>
        {control blogPostForm}
    </div>
</div>
