{block #title}Články{/block}

{block #content}
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Vyberte články, které chcete posuzovat</h3>
            </div>

            <div class="card-body">
                {control editorUnassignedBlogGrid}
            </div>
        </div>

    </div>

</div>
